.home {
    padding: 2rem;
    background-color:beige;
}

.search {
    max-width: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-color: azure !important;
}

.search:hover{
    background-color: paleturquoise;
    color: white;
}

.search-input{
    margin-left: auto;
    margin-right: auto;
}

.category-filter {
    margin-left: 5rem;
    margin-bottom: 1rem;
}

.product-card {
    max-width: 20rem;
    height: 25rem;
    padding: 1rem;
    margin-bottom: 3rem;
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
    cursor: pointer;
    border-radius: 2rem !important;
    background-color:bisque !important;
}

.product-card-button{
    border-radius: 1rem !important;
    transition: background 200ms ease-in, color 200ms ease-in;
}

.product-card:hover {    
    transform: scale(1.02);
}

.product-card-image {
    height: 10rem;
    max-width: 10rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}